* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #fefbd8;
    padding: 40px 40px 40px 40px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  @keyframes article-zoom {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(5deg);
    }
  }
  
  header > img {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    border: 2px solid gold;
  }
  nav {
    margin-top: 40px;
    margin: 40px 10px 10px 10px;
    background-color: #c1946a;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
  }
  
  nav ul {
    text-align: center;
  }
  
  nav li {
    list-style: none;
    display: inline-block;
  }
  
  li a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
  }
  
  a:hover {
    color: white;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 10px;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
  }
  
  div > img {
    width: 5%;
    height: auto;
  }
  
  section {
    display: flex;
  }
  
  article {
    flex: 1;
    margin: 10px 10px 10px 10px;
    padding: 12px 12px 12px 12px;
    background-color: #dac292;
    border-radius: 10px;
  }
  
  article > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
  }
  
  .article-ani:hover {
    animation-name: article-zoom;
    animation: article-zoom 2s both;
  }
  
  footer {
    margin-top: 12px;
    display: flex;
    flex: 1;
    align-items: center;
    border-top: 3px solid black;
  }
  
  footer > div {
    margin-top: 20px;
  }
  
  footer > div > p {
    text-align: right;
  }